body{
	font-family: Futura, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 62.5%;
}


.container{
	max-width: 1200px;
	margin: 4em auto;
}

.container div{
	display: inline-block;
	width: 45%;
	margin: 1.5em;
	vertical-align: top;
	font-size: 1.3em;
}